{% extends 'base.html' %}

{% block title %}
{{object.title}}
{% endblock title %}


{% block body %}
<div class="article-entry">
    <div class="card">
        <div class="card-header"><h2>{{object.title}}</h2>
        <p>{{object.author}} | {{object.date}}</p></div>
        <div class="card-body"><br><p>{{object.body}}</p></div>
    

<p>
<div class="card-footer">
<a href="{% url 'article_update' article.pk %}">Edit</a> |
<a href="{% url 'article_delete' article.pk %}">Delete</a></p>
<p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p></div>
</div></div>
{% endblock body %}